@media (max-width: 665px) {
    body {
        background-image: linear-gradient(to right, rgb(235, 97, 54), rgb(235, 97, 54), rgb(255, 119, 0), rgb(255, 119, 0));
    }

    .principal {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(10, auto);
        gap: 0;
        padding: 20px;
        margin: 0%;
    }

    .items {
        border: none;
        border-radius: 0;
    }

    .titulo-garupa {
        margin-top: 20px;
    }

    .imagem {
        grid-area: 1/1/4/6;
    }

    .info {
        background-color: rgb(7, 102, 10);
        max-width: 300px;
        max-height: 195px;
        font-size: 10px;
        padding: 5px;
    }

    .info ul li {
        margin-bottom: 10px;
    }

    .login {
        grid-area: 4/1/11/6;
    }

    .login .titulo-login {
        text-align: center;
    }

    .sub-titulo {
        font-size: 15px;
    }

    .fas {
        font-size: 15px;
        margin-top: 45px;
        margin-right: 8px;
    }

    .inputs {
        width: 210px;
    }

    .botao {
        width: 200px;
    }

    .senha {
        display: flex;
        justify-content: center;
        font-size: 8px;
    }

    .label {
        margin-left: 5px;
    }

    .esqueceu-senha {
        text-decoration: none;
        font-size: 10px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        margin-left: 30px;
    }

}