@media (max-width: 665px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    .principal {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(10, auto);
        gap: 0;
        margin:50px;
        padding: 20px;
    }
    
    .titulo-garupa {
        margin-top: 20px;
    }

    .imagem {
        grid-area: 1/1/4/3;
        border-radius: 10px 10px 0 0;
    }

    .info {
        max-width: 0;
        max-height: 0;
        background-color: rgba(255, 68, 0, 0);
    }

    .login {
        grid-area: 4/1/11/3;
        border-radius: 0 0 10px 10px;
    }
}